body {
    color: #099acb;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

#sandbox { margin: 30px auto; max-width: 900px; }
	#sandbox p { margin-top: 30px; }

#moodular { overflow: hidden; }
	#moodular, #moodular li { margin: 0; padding: 0; list-style: none; width: 100%; }
	
#moodular, #moodular li { height: 400px; }
	#moodular li p { display: block; height: 400px; }
		#moodular li p span { display: inline-block; padding: 10px 10px; color: #FFF; margin: 10px; }